
<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
    <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
    <li><%= link_to("按照发表时间排序", jobs_path ) %></li>
  </ul>
</div>

<div class="job-list">
    <tbody>
      <% @jobs.each do |job| %>

        <div class="job-title row"><p><%= link_to(job.title, job_path(job)) %></p></div>

        <div class="job-info-1 row">
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-bandcamp" aria-hidden="true"></i> <%= job.company %></p></div>
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-map-marker" aria-hidden="true"></i> <%= job.location %></p></div>
        </div>

        <div class="job-info-2 row"> 
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-usd" aria-hidden="true"></i> <%= job.wage_lower_bound %> - <%= job.wage_upper_bound %></p></div>
          <div class="col-sm-4 col-xs-6"><p><i class="fa fa-calendar" aria-hidden="true"></i> <%= job.created_at.strftime("%d %b. %Y") %></p></div>
        </div>

      <% end %>
    </tbody>
