
<div class="dropdown clearfix pull-right">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
    <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
    <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
    <li><%= link_to("按照发表时间排序", jobs_path ) %></li>
  </ul>
</div>

<div class="col-md-10 col-md-offset-1 job-content">
  <div class="main-box">
  <% @jobs.each do |job| %>
  <div class="col-md-9 job-box">
    <div class="info">
      <div class="info-top">
        <h3><%= link_to(job.title, job_path(job), target: "_blank" )%></h3>
      </div>
      <div class="info-mid">
        <%= job.wage_lower_bound %> k ~ <%= job.wage_upper_bound %> k
      </div>
    </div>
    <div class="company">
      <div class="company-top">
        <span><%= job.company %></span>
      </div>
      <div class="company-mid">
        <i class="fa fa-map-marker fa-lg"></i><span>Location</span>
      </div>
      <div class="company-bot">
        <i class="fa fa-clock-o fa-lg" aria-hidden="true"></i><span><%= job.created_at.strftime("%Y-%m-%d") %></span>
      </div>

    </div>
  </div>
  <% end %>
</div>
