<!-- <h1> <%= @job.title %> </h1>
<p>
  <%= simple_format(@job.description) %>
</p>

<div class="text-center">
  <%= link_to("投交履历", new_job_resume_path(@job), :style => "font-size: 30px; text-decoration:underline;") %>
</div> -->


<div class="col-md-12 show">
  <%= link_to(jobs_path, class: "btn btn-default back-btn") do  %>
    <span class="fa fa-arrow-left" style="margin-right: 10px;"></span>Return to Job List
  <% end %>

  <h1><%= @job.title %><span class="company">  / <%= @job.company %></span></h1>

  <% if current_user && current_user.is_member_of?(@job) %>
    <%= link_to quit_job_path(@job), method: :post, class: "btn btn-xs btn-warning pull-right" do%>
      <i class="fa fa-heart">Favorite</i>
    <% end %>
  <% else %>
    <%= link_to join_job_path(@job), method: :post, class: "btn btn-xs btn-info pull-right" do%>
      <i class="fa fa-heart">Unfavorite</i>
    <% end %>
  <% end %>  



  <p>
    <span class="wage"><%= @job.wage_lower_bound %>$ ~ <%= @job.wage_upper_bound %>$ </span> /
    <span><span class="fa fa-map-marker"></span> <%= @job.location %></span> /
    <span><%= @job.category %></span> /
    <span><span class="fa fa-calendar"></span> <%= @job.created_at.strftime("%Y-%m-%d") %> </span>
   </p>


  <p class="description-title"><strong> Job Requirements </strong></p>
  <p class="description">
    <%= render_job_description(@job) %>
  </p>

  <div class="text-center">
    <% if !current_user %>
       <%= link_to("Submit Resume", new_job_resume_path(@job), class: "btn btn-primary", method: :get) %>
    <% else %>
      <% if current_user.admin? %>
        <%= link_to("Submit Resume", new_job_resume_path(@job), class: "btn btn-primary disabled", method: :get) %>
      <% else %>
        <% if current_user.has_applied?(@job) %>
          <%= link_to("Has Applied", new_job_resume_path(@job), class: "btn btn-primary disabled", method: :get) %>
        <% else %>
          <%= link_to("Submit Resume", new_job_resume_path(@job), class: "btn btn-primary", method: :get) %>
        <% end %>
      <% end %>
     <% end %>
  </div>
</div>
