<div class="jobsï¼container">
  <div class="content">
    <ul class="nav nav-tabs">
      <li <li class="<%= 'active' if params[:order] == 'by_lower_bound' %>">
        <%= link_to("Sorted by Lower Wage", jobs_path(:order => "by_lower_bound")) %>
      </li>
      <li <li class="<%= 'active' if params[:order] == 'by_upper_bound' %>">
        <%= link_to("Sorted by Upper Wage", jobs_path(:order => "by_upper_bound")) %>
      </li>
      <li class="<%= 'active' if !params[:order] %>">
        <%= link_to("Sorted by Post Time", jobs_path) %>
      </li>
    </ul>

    <table class="table table-boldered table-striped">
      <thead>
        <tr>
          <th> Position </th>
          <th> Category </th>
          <th> Salary </th>
          <th> Company </th>
          <th> Location </th>
          <th> Post Time </th>
        </tr>
      </thead>
      <tbody>
        <% @jobs.each do |job| %>  
          <tr>
            <td><%= link_to(job.title, job_path(job)) %></td>
            <td><%= link_to(job.category) %></td>
            <td><span class="label label-default"><%= job.wage_lower_bound %>$ - <%= job.wage_upper_bound %>$</span></td>
            <td><%= link_to(job.company) %></td>
            <td><span class="fa fa-map-marker"></span> <%= job.location %></td>
            <td><%= job.created_at.strftime("%Y-%m-%d") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center" style="padding-top: 1.5em">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
