<div class="lp-section-1">
  <div class="content-1">
    <h2>Find A Better JOB From START</h2>
    <p>A Fancy JOB Can Change You A Lot And Develop Your Ability</p>
      <p class="lead">
        <%= link_to 'Browse Jobs', jobs_path, class: 'btn btn-lg btn-success' %>
      </p>
  </div>
</div>

<div class="lp-section-2 clearfix">
  <div class="content-2">
    <div class="feature-title">
      <div class="short-line"></div>
      <h2>What START Can Help you</h2>
    </div>
    <div class="feature-block">
      <img src="<%= image_url 'resume.png'%>">
      <br>
      <h3>Resume Help</h3>
      <p>Upload your resume, and you'll have the opportunity for a free expert critique that will help make sure your value shines through. And for a fee, our pros will give that resume a full-on makeover</p>
    </div>
    <div class="feature-block">
      <img src="<%= image_url 'expert.png'%>">
      <br>
      <h3>Career Advise</h3>
      <p>Start has the expert advice you need for your job search and career—interview tips, networking icebreakers, salary negotiation strategies, our latest Monster 100 list of companies hiring now and more.</p>
    </div>
    <div class="feature-block">
      <img src="<%= image_url 'skill.png'%>">
      <br>
      <h3>Skill Programs</h3>
      <p>Need extra skills to make yourself more marketable? We can help you get the training you need to succeed. Check out our directory of online and local education and professional development programs.</p>
    </div>
  </div>
</div>


<div class="lp-section-3">
  <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <div class="feature-title">
                <div class="short-line"></div>
                <h2>Popular Jobs</h2>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 category-list">
                <div class="thumbnail">
                  <%= link_to image_tag("laptop.png", class: "img-responsive"), image_path(softengineer_jobs_path(:order => "category")) %>
                </div>
                <div>
                  <h4 class="category-name"><%= link_to("Soft Engineer", softengineer_jobs_path(:order => "category")) %></h4>
                </div>
              </div>

              <div class="col-md-4 category-list">
                <div class="thumbnail">
                  <%= link_to image_tag("graph.png", class: "img-responsive"), image_path(dataanalyst_jobs_path(:order => "category")) %>
                </div>
                <div>
                  <h4 class="category-name"><%= link_to("Data Analyst", dataanalyst_jobs_path(:order => "category")) %></h4>
                </div>
              </div>

              <div class="col-md-4 category-list">
                <div class="thumbnail">
                  <%= link_to image_tag("settings.png", class: "img-responsive"), image_path(engineer_jobs_path(:order => "category")) %>
                </div>
                <div>
                  <h4 class="category-name"><%= link_to("Engineer", engineer_jobs_path(:order => "category")) %></h4>
                </div>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("travel.png", class: "img-responsive"), image_path(business_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Business", business_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("coins.png", class: "img-responsive"), image_path(accounting_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Accounting", accounting_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("contract.png", class: "img-responsive"), image_path(writer_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Writer", writer_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

          </div>  
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lp-section-bottom clearfix">
  <div class="bottom-content">
    <div>
      <%= link_to 'Browse Jobs', jobs_path, class: 'btn btn-lg btn-success' %>
    </div>
  </div>
</div>
