<div class="col-md-12">
  <div class="row box">
    <div class="box-inner col-md-6 col-md-offset-3">
      <p class="slogan"> FIND A BETTER JOB <br>
       START HERE </p>

      <p class="lead">
        <%= link_to 'Browse Jobs', jobs_path, class: 'btn btn-lg btn-success' %>
      </p>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Resume Help</h2>
        <p class="lead">Upload your resume,
          and you'll have the opportunity for a free expert critique that will help make sure your value shine through. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-1.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div> 



<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Social Network</h2>
        <p class="lead">Bulid your social network to show yourself to others.</p>
        <div class="social">
          <div class="network"><i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></div>
          <div class="network"><i class="fa fa-twitter fa-5x" aria-hidden="true"></i></div>
          <div class="network"><i class="fa fa-weixin fa-5x" aria-hidden="true"></i></div>
          <div class="network"><i class="fa fa-tencent-weibo fa-5x" aria-hidden="true"></i> </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Skills Pragrams</h2>
        <p class="lead">Need extra skills to make yourself more marketable.<a target="_blank" href="https://forum.qzy.camp/">Resource</a></p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>


<div class="content-section-c">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h2 class="section-title">Popular Jobs</h2>
            </div>
          </div>

          <div class="col-md-12">
            <div class="col-md-4 category-list">
              <div class="thumbnail category-list">
                <%= link_to image_tag("laptop.png", class: "img-responsive"), image_path(softengineer_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Soft Engineer", softengineer_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("graph.png", class: "img-responsive"), image_path(dataanalyst_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Data Analyst", dataanalyst_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("settings.png", class: "img-responsive"), image_path(engineer_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Engineer", engineer_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("travel.png", class: "img-responsive"), image_path(business_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Business", business_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("coins.png", class: "img-responsive"), image_path(accounting_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Accounting", accounting_jobs_path(:order => "category")) %></h4>
              </div>
            </div>

            <div class="col-md-4 category-list">
              <div class="thumbnail">
                <%= link_to image_tag("contract.png", class: "img-responsive"), image_path(writer_jobs_path(:order => "category")) %>
              </div>
              <div>
                <h4 class="category-name"><%= link_to("Writer", writer_jobs_path(:order => "category")) %></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="banner_bottom">
  <p class="lead">
    <%= link_to 'Browse Jobs', jobs_path, class: 'btn btn-lg btn-success' %>
  </p>
</section>
